################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/*/.vs
/*/bin
/*/obj
/nuget
*.snk
